doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="/views/css/circle.css")
		link(rel="stylesheet", type="text/css", href="/views/css/main_style.css")
		link(rel="stylesheet", type="text/css", href="/views/css/circle_style.css")
		script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")

		title Github Resume
	body
		div(id="profile_page")
			h2(id="subject")= name
			p(id="user_area")
				img(id="user_img", src=privacy.user_info[0], alt="Github_user_img" height="180", width="180")
				div(class="user")
					b Bio :
					if privacy.user_info[1] != ""
						= privacy.user_info[1]
					br
					b Location :
					if privacy.user_info[2] != ""
						= privacy.user_info[2]
					br
					b Company :
					if privacy.user_info[5] != ""
						= privacy.user_info[5]
					br
					div(id="url")
						if privacy.user_info[3] != ""
							b Github Url :
							a(href=privacy.user_info[3], target="_blank")
								|  Visit! My Github!
							br
						b Website Url :
						if privacy.user_info[4] != ""
							a(href=privacy.user_info[4], target="_blank")
								|  Visit! My website!!
			br
			div
				b(id="repo", class="category") Repository
				hr(id="repohr", width="88%", color="black")
			ul(class="repo_list")
				each repo, index in privacy.repo_names
					li
						a(href=privacy.repo_info[index][1], target="_blank")
							= repo
						b(class='createAt')
							|  createdAt
							= privacy.repo_info[index][5]
						div
							img(class="watch", src="/views/img/watch.png", width="60")
							b(class="watch_count")= privacy.repo_info[index][2]
							img(class="star", src="/views/img/star.png", width="60")
							b(class="star_count")= privacy.repo_info[index][3]
							img(class="fork", src="/views/img/fork.png", width="14")
							b(class="fork_count")= privacy.repo_info[index][4]
			div
				b(id="lang", class="category") Language
				hr(width="88%", color="black")
			each per_count, lang in privacy.repos_lang
				div(class="container")
					div(class="box")
						div(class="chart", data-percent=per_count)= per_count
						h2= lang
			script(src="https://code.jquery.com/jquery-3.4.1.js")
			script(src="/views/js/jquery.easypiechart.js")
			script(src="/views/js/circle_setting.js")
			div
				b(id="topic", class="category") Topic
				b(id="event", class="category") Event
				hr(width="88%", color="black")
			div(id="topic_send_value", name=topics, block="none")
			canvas(id="pie-chart", width="400", height="100")
			script(type="text/javascript", src="/views/js/pie_chart.js")
			div(id="event_send_value", name=events, block="none")
			table(width="600", height="100")
				tbody
					tr
						th Event Type
						each eve_count, type in privacy.user_event
							td= type
					tr
						th Event Count
						each eve_count, type in privacy.user_event
							td= eve_count
